h1 {
    margin: 25px;
}

.product-card {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: large;
    display: inline-block;
}


.product-image img {
    width: 300px;
    height: 200px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-controls button {
    padding: 5px 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
}

.product-display div {
    align-items: center;
    justify-content: center;
    text-align: center;
}