/* components/Sidebar.css */
.sidebar {
    width: 30vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #77c0dd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.sidebar h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    font-size: large;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

.sidebar a:hover {
    color: #2874f0;
    /* Flipkart blue */
}